/* BODY */

body {
	background-image: url("../images/background.jpg");
}

/* LOGO AND MAIN HEADER */

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10%;
	height: 10%;
}

.font-h1 {
	text-align: center;
	font-size: 50px;
	font-family: sans-serif;
}

.font-h2 {
	text-align: center;
	font-size: 30px;
	font-family: sans-serif;
}

.h-line {
	border-top: 1px solid black;
	margin: 0;
}

/* NAVIGATION BAR */

#navigation {
	list-style-type: none;
	font-size: 20px;
	margin: 10px 0 10px 0;
	padding: 0;
	overflow: hidden;
	background-color: gray;
	width: 100%
}

#navigation li {
	float: left;
}

#navigation li a {
	display: block;
	padding: 5px 15px;
	background-color: gray;
	color: white;
	text-decoration: none;
}

#navigation li a:hover {
	background-color: #111;
}


/* TABLE */

.productData {
	border: 2px solid gray;
	color: black;
	background-color: white;
}

/* LIST TYPES */
.square {
	list-style-type: square;
}